<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NZ Politician Scorecards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/"><h1>NZ Politician Scorecards</h1></a>
    <div class="top-right-link">
        <a href="/about">About</a>
    </div>
    <div class="politician-list-container">
        {% for item in politicians_data %}
        <div class="politician-card">
            <h3>{{ item.politician.name }}</h3>
            <p>Party: {{ item.politician.party }}</p>
            <h4>Scores:</h4>
            {% for attribute in all_attributes %}
                {% if attribute.id in item.scores %}
                    <p>{{ attribute.name }}: <a href="{{ url_for('attribute_detail', politician_id=item.politician.id, attribute=attribute.id) }}" class="score-link">{{ item.scores[attribute.id] }}</a></p>
                {% else %}
                    <p>{{ attribute.name }}: N/A</p>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>